@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
main{
   margin: 0 200px ;
}

/* Nav styles */
header{
    margin: 0 auto;
    padding: 40px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
  gap: 20px;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-logo h3 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    
}
.nav-logo h3 > span{
    color: #FF42A5;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}
.btn-follow-us{
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.btn-follow-us #youtube{
    color: red;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
    padding: 50px 0;
}

.banner-sub-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    font-size: 5.9rem;
    font-weight: 800;
    margin-top: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.banner ul{
    margin-top: -40px;
}
.banner ul >li{
    list-style: none;
    color: #534C64;
    color: #534C64;
    font-weight: 500;
    font-size: 1.25rem;
}
.banner ul >li #red{
    color: rgb(165, 3, 3);
}
.banner-img img{
    width: 100%;
    
    
}

/* we are gamer */
.we-are-gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.gamer-img img{
    width: 100%;
}
.gamer-content{
    width: 100%;
    text-align: right;
}
.section-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

}
.section-description{
    color: #534C64;
    font-size: 1rem;
    margin-top: 10px;

}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    padding: 21px 40px;
}
.sub-description{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}
.sub-description span{
    font-size: 2rem;
    font-weight: 700;
}
/* online game section */
.online-games{
    margin-top: 100px;
   
}
.online-game-content{
    text-align: center;
    margin-bottom: 50px;
}
.online-game-content-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.online-games-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    
   
}

.games-card img{
width: 100%;
}
/* play-instantly-container section */

.play-instantly-container{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 50px auto;
}
.play-instantly-content{
    text-align: right;
    /* margin-right: 100px; */

}
.play-instantly-img img{
    width: 100%;
}
.small-img img{
    max-width: 200px;
    position: relative;
    top: -150px; left: 480px;
}
/* career section */
.career{
    display: flex;
    align-items: center;
   gap: 30px;
   background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
   padding: 50px 200px;
   

}
.career-content{
    color: #ffff;
    width: 50%;
}
.career-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.btn-see-all-position{
    color: #7a0944;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    border-radius: 48px;
    background: #FFF;
    padding: 10px 20px;
}
.career-img{
    width: 50%;
}
.career-img img{
   width:100% ;
}
.position-info{
    display: flex;
    gap: 10px;
}
.position-location{
    text-align: right;
}

















/* rsponsive style */
/* mobile device */
@media screen and (max-width: 576px) {
    nav ,
    nav .menu,
    .we-are-gamer
    {
        flex-direction: column;
    }
    main{
        margin:0 auto;
     }
    .btn-follow-us{
        width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
  
    .banner-img img,
    .gamer-img img
    {
        width: 300px;
        
    }
    .gamer-content{
        width: 300px;
        text-align: center;
        
       
    }
    .online-game-content{
        margin: 40px;
    }
    .online-games-container{
        grid-template-columns: 1fr;
    }
    .games-card{
       margin: 10px 50px;
    }
    .play-instantly-container,
    .career{
        flex-direction: column-reverse;
    }
    .small-img img{
        position: relative;
        top: -600px; left: 0;
    }
    .play-instantly-img img{
        width: 80%;
        margin-left: 50px;
    }
    .play-instantly-content{
        text-align: center;
      
    }
    .career-content{
        width: 300px;
    }
    .career-img{
        width: 300px;
    }
   
   
   
}






/* tablet device */
@media screen and (min-width: 576px) and (max-width:992px) {
    nav ,
    nav .menu,
    .we-are-gamer{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .gamer-content{
        text-align: center;
    }
    .online-game-content{
        width: 100%;
    }
    .online-games-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instantly-container,
    .career{
        flex-direction: column-reverse;
    }
    .small-img img{
        position: relative;
        top: -600px; left: 0;
    }
    .play-instantly-img img{
        width: 300px;
        margin-left: 50px;
    }
    .play-instantly-content{
        text-align: center;
      
    }
    .career-content{
        width: 300px;

    }
    .career-img{
        width: 300px;
    }
}